@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
*{
    margin: 0;
    padding: 0;
}
h1{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
}
h3{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}
a{
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: 550;
}
p{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    line-height: 26px;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
    height: auto;
}
/* -----------------header----------------- */

.header-content{
    position: relative;
 }
 .header-title{
     position: absolute;
     display: block;
     top: 200px;
     right: 0;
     padding: 0 120px 200px 700px;
     text-align: right;
 }
 .header-title h1{
     padding: 0 0 0 120px;
 }
 .header-title p{
     margin-top: 20px;
     padding: 0 0 0 150px;
     color:black;
 }
 .btn{
     padding: 15px 30px;
     background-color: #DF6537;
     border: 0;
     border-radius: 5px;
     margin-top: 20px;
     font-family: 'Work Sans', sans-serif;
     font-weight: 600;
     color: white;
     letter-spacing: 1px;
 }
/* -----------------navbar----------------- */

.navbar{
    position: absolute;
    top: 10px;
    left: 50px;
    width: 88%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul{
    display: flex;
    align-items: center;
}
.navbar ul li a{
    padding: 5px 20px;
    color: black;
    margin-right: 10px;
    box-shadow: 2px 2px 5px rgb(71, 68, 68);
}
.navbar ul li a:hover{
    background-color: #DF6537;
    padding: 5px 20px;
    color: white;
}
.navbar ul input{
    padding: 0 10px;
    border: 1px solid #fefef5;
    width: 300px;
    height: 30px;
    border-radius: 20px 0 0 20px;
    box-shadow: 2px 2px 10px black;
}
.nav-logo h2{
    font-size: 70px;
    font-family: 'Black Ops One', cursive;
}
.nav-magnify{
    padding: 6px 10px;
    border-radius: 0 20px 20px 0;
    background-color: white;
    border: 0;
    box-shadow: 2px 2px 10px black;
}
/* -----------------section-1----------------- */

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 70px 0;
    margin-left: 100px;
    z-index: 1;
    position: relative;
}
.section-1{
    position: relative;
}
.person-bg{
    position: absolute;
    width: 530px;
    height: 530px;
    border-radius: 50%;
    background-color: #F7DFD5;
    top: 195px;
    left: 120px;
}
.image{
    width: 100%;
    height: auto; 
}
.my-failure h3{
    margin-left: 80px;
    padding: 100px 100px 0 100px;
}
.my-failure p{
    margin-left: 80px;
    padding: 10px 100px 0 100px;
    color: black;
}
.my-failure ul{
    margin-left: 80px;
    padding: 10px 100px 0 100px;
}
.my-failure ul li i{
    color: #64D58E;
}
/* -----------------section-2----------------- */

.section-2{
    width: 70%;
    margin: auto;
    text-align: center;
}
.section-2 h3{
    margin: 100px 0 60px;
}
.course{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.course-logo img, h4, p{
    margin-bottom: 20px;
}
.course-logo h4{
    font-weight: 700;
    font-size: 30px;
}
.course-logo p{
    font-weight: 500;
    font-size: 20px;
    color: black;
}
/* -----------------section-3----------------- */

.section-3{
    width: 70%;
    margin: auto;
    margin: 124px auto 130px;
    position: relative;
    background-image: url(../images/watch.png);
    border-radius: 10px;
}
.linear{
    background: linear-gradient(to right, red,rgb(47, 128, 47));
    width: 100%;
    height: 300px;
    opacity: .5;
    position: relative;
    border-radius: 10px;
}
.linear-sec img{
    width: 100%;
}
.call-now{
    background: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50px;
    color: white;
    position: absolute;
    z-index: 999;
}
.call-now h4{
    font-weight: 700;
    font-size: 40px;
    color: white;
    margin-top: 60px;
    padding: 0 500px 0 0;
}
.call{
    padding: 10px 30px;
    border: 0;
    border-radius: 5px;
}
.call span{
    color: #F15B22;
    font-weight: 400;
    font-size: 20px;
}
/* -----------------footer----------------- */

.footer{
    background-color: black;
}
.containers{
    width: 70%;
    margin:auto;
    display: flex;
    padding: 130px 230px;
}
.contact h3, p{
    color: white;
}
.contact h3{
    letter-spacing: 2px;
}
.contact p{
   padding: 10px 300px 0 0;
}
.social-media img{
   padding-right: 10px;
}
.form h3{
    color: white;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 2px;
}
.form input{
    padding: 15px 158px 15px 10px;
    border: 1px solid white;
    margin-top: 20px;
    border-radius: 5px;
    background-color: black;
}
.form-btn{
    padding: 13px 30px;
    color: #DF6537;
    font-weight: 600;
    margin-top: 30px;
    border-radius: 5px;
    border: 0;
}


/* -----------------Done----------------- */